.block-local{
	background-image:url(map.png);
}

.block-photos{
	background:initial;
	background-image:initial;
}

.block-48{
	background:initial;
}

.gradient{
	height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(#58a7d6,#0000,#84bee1);
    z-index: 600;
}

.block-news{
	background: initial;
}